.visual-svg {
  display: block;
  margin: 0 auto;
}
.legend-selector {
  position: absolute;
  width: 100%;
  display: block;
  top: 0;
}
.svg-selector {
  position: absolute;
  width: 100%;
  display: block;
  top: 0;
}

